<header class="header">
    <div class="container py-16">
        <nav class="d-flex jcsb aic">
            <h1 class="logo"><a href="#" ><img src="/assets/images/logo-white.png" alt="logo" class="img mw-80">眼鏡官網</a></h1>
            <ul class="d-flex gap-64">
                <li><a href="#" class="menu-list">系列鏡框</a></li>
                <li><a href="#" class="menu-list">門市據點</a></li>
                <li><a href="#" class="menu-list">部落格</a></li>
                <li><a href="#" class="menu-list">常見問題</a></li>
            </ul>
        </nav>
    </div>
</header>