.footer{
  background-color: var(--color-secondary);
  .footer-menu{
    color: var(--color-white);
    &:hover{
      border-bottom: 3px solid var(--color-white);
    }
  }
  .contact-box{
    border-bottom: 1px solid var(--color-white);
    .contact-information{
      font-size: var(--text-xl);
      color: var(--color-white);
      font-weight: var(--weight-regular);
    }
  }
  .copyright{
    color: var(--color-white);
  }
}
@media (max-width:768px){
  .footer{
    padding: 0 36px;
    .gap-32{
      gap: 16px;
    }
    .mw-48{
      max-width: 40px;
    }
    .pb-32{
      padding-bottom: 40px;
    }
  }
}