.header{
    background-color: var(--color-secondary);
    .logo{
        height: 48px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .menu-list{
        color: var(--color-white);
        font-size: var(--text-m);
        &:hover{
            border-bottom: 3px solid var(--color-white);
        }
    }
}
@media (max-width:767px){
    .header{
      padding: 0 36px;
    }
  }
