@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import "reset";
body{
  font-family: "Castoro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*,*::after,*::before{
  box-sizing:border-box;
}
.header{
  line-height: 1.5;
  letter-spacing:0.12em;
  max-width: 1296px;
  margin: 0 auto;
  padding-top: 160px;
  h1{
    font-size: 128px;
  }
  h2{
    font-size: 128px;
    text-align: right;
  }
  img{
    display: block;
    max-width:636px;
    margin: 0 auto;
  }
}
.banner-bg{
    background-color:#EFEFEF;
  }
  .container{
    max-width:1296px;
    margin: 0 auto;
  }
  .introduce{
    font-size: 32px;
    line-height: 1.5;
    padding: 48px 0;
    width: 50%;
    margin-left:50%;
  }
.main{
  padding: 80px 0 160px 0;
  max-width:1296px;
  margin: 0 auto;
}
section{
  width: 50%;
  line-height: 1.5;
  margin-bottom: 40px;
  h3{
    font-size: 40px;
    color: #AE0000;
    border-bottom:1px solid #AE0000;
    margin-bottom: 16px;
  }
  p{
    font-size: 24px;
    margin-bottom: 8px;
  }
  a{
    display: block;
    font-size: 24px;
    color: #000;
    text-decoration:none;
  }
  .period{
    font-size: 20px;
    color: #949494;
    font-style: italic;
  }
}
.footer{
  display: flex;
  gap: 40px;
  justify-content: center;
  background-color:#000;
  padding: 64px 0;
}