.wrap{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 42px;
}
@media(max-width:992px){
    .wrap{
        padding: 0;
    }
}
// header
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    .menu-ctrl{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .logo{
        width: 171px;
        margin-right: 300px;
    }
    .logo-m{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
        gap: 60px;
        a{
            font-weight: $bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    img{
        display: block;
    }
    @media(max-width:992px){
        justify-content: space-between;
        padding: 30px;
        position: relative;
        .menu{
            display: none;
        }
        .menu-btn{
            display: block;
        }
        .menu-close{
            display: none;
        }
        .menu-ctrl:checked~.menu{
            position: absolute;
            top: 84px;
            left: 0;
            display: block;
            width: 100%;
            text-align: center;
            background-color: $white;
            li{
                padding: 10px;
            }
            a{
                font-size: $size-L;
            }
        }
        .menu-ctrl:checked + .menu-btn .menu-open{
            display: none;
        }
        .menu-ctrl:checked + .menu-btn .menu-close{
            display: block;
        }
        .logo{
            display: none;
        }
        .logo-m{
            display: block;
            width: 114px;
        }
    }
}
//banner
.banner{
    img{
        display: block;
        margin-bottom: 60px;
    }
    @media(max-width:992px){
        img{
            margin: 0 auto;
        }
    }
}
//product
.product{
    display: flex;
    gap: 20px;
    .product-list{
        width: 33.8%;
        text-align: center;
        h2{
            color: $sec-white;
            background-color: $base-color;
            font-size: $size-L;
            font-weight: $bold;
            padding: 16px 0;
        }
        ul{
            border: 1px solid $sec-white;
        }
        li{
            border-bottom: 1px solid $sec-white;
            &:hover{
                background-color: $sec-white;
            }
        }
        a{
            display: block;
            font-size: $size-L;
            font-weight: $bold;
            padding: 16px 0;
        }
    }
    @media(max-width:992px){
        flex-direction: column;
        padding: 0;
        .product-list{
            width: 100%;
        }
    }
    .product-content{
        width: 70%;
        .product-box{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .name-box{
            display: flex;
            text-align: center;
            border: 1px solid $sec-white;
            .product-name{
                width: 57.6%;
                font-size: $size-M;
                font-weight: $thin;
                border-right: 1px solid $sec-white;
                padding: 14px 0;
            }
            .product-price{
                width: 43.4%;
                font-size: $size-M;
                font-weight: $bold;
                padding: 14px 0;
            }
        }
        .shoppingcart{
            font-size: $size-L;
            font-weight: $bold;
            background-color: $sec-white;
            text-align: center;
            width: 100%;
            padding: 16px 0;
            border: 0;
            cursor: pointer;
            &:active{
                background-color: $blue;
                color: $sec-white;
            }
        }
    }
    @media(max-width:992px){
        .product-content{
            width: 100%;
            .product-box{
                justify-content: center;
            }
        }
    }
    .paganation{
        display: flex;
        justify-content: end;
        margin-top: 30px;
        margin-bottom: 60px;
        a{
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-top: 1px solid $sec-white;
            border-bottom: 1px solid $sec-white;
            border-left: 1px solid $sec-white;
            font-size: $size-M;
            font-weight: $thin;
            &:hover{
                background-color: $base-color;
                color: $sec-white;
            }
        }
        .page-next{
            border-right: 1px solid $sec-white;
        }
    }
    @media(max-width:992px){
        .paganation{
            justify-content: center;
            margin-bottom: 30px;
        }
        
    }
}
//product-item
.product-item{
    position: relative;
    .today{
        font-weight: $bold;
        color: $sec-white;
        background-color: $base-color;
        writing-mode: vertical-rl;
        letter-spacing: 5px;
        padding: 10px;
        position: absolute;
        left: 20px;
        z-index: 1;
    }
    .favorite-control{
        display: none;
        &:checked + {
            .favorite-btn{
                .like{
                    display: block;
                }
            }
        }
        &:checked + {
            .favorite-btn{
                .unlike{
                    display: none;
                }
            }
        }
    }
    .favorite-btn{
        position: absolute;
        z-index: 1;
        top: 16px;
        right: 20px;
        cursor: pointer;
        .like{
            display: none;
        }
    }
    img{
        display: block;
    }
}
// footer
.footer{
    margin: 0 auto;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sec-color;
    line-height: 40px;
    padding: 30px 12%;
    .subscribe-mail{
        display: flex;
        justify-content: center;
        p{
            background-color: $white;
            padding: 16px 20px;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
        h2{
            color: $sec-white;
            font-size: $size-L;
            margin-right: 124px;
        }
        .email{
            border: none;
            width: 55%;
            padding: 14.5px 0;
            font-size: $size-M;
        }
        label{
            background-color: $other-color;
            padding: 16px 24px;
            cursor: pointer;
            &:active{
                background-color: $blue;
                color: $white;
            }
        }
    }
}
@media(max-width:992px){
    .subscribe{
        flex-direction: column;
        padding: 30px;
        .subscribe-mail{
            h2{
                margin: 0;
                margin-bottom: 33px;
            }
        }
    }
}
.information{
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    background-color: $sec-white;
    .contact{
        .logo{
            max-width: 171.22px;
            display: block;
            margin:38.9px 0 115.5px 0;
        }
        p{
            line-height: 1.5;
        }
        img{
            max-width: 32px;
            margin: 30px 8px 30px 0;
        }
    }
    .copyright{
        .slogan{
            font-size: $size-L;
            font-weight: $bold;
            writing-mode: vertical-rl;
            letter-spacing: 6.4px;
            line-height: 1.5;
            margin-top: 30px;
            margin-left: 220px;
            margin-bottom: 30px;
        }
        // .slogan{
        //     max-width: 59.28px;
        //     margin: 30px 0 45px 220px;
        // }
    }
}
@media(max-width:992px){
    .information{
        flex-direction: column;
        padding: 0 30px 30px 30px;
        .contact{
            .logo{
                margin: 40px 0;
            }
        }
        
    }
    .copyright{
        .slogan{
            display: none;
        }
    }
}