@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::after {
  box-sizing: border-box;
  color: #3F4D45;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
}

@media (max-width: 992px) {
  .wrap {
    padding: 0;
  }
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
}
.header .menu-ctrl {
  display: none;
}
.header .menu-open {
  display: none;
}
.header .menu-close {
  display: none;
}
.header .logo {
  width: 171px;
  margin-right: 400px;
}
.header .logo-m {
  display: none;
}
.header .menu {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: 103px;
}
.header .menu a {
  font-weight: 600;
}
.header .menu a:hover {
  text-decoration: underline;
}
.header img {
  display: block;
}
@media (max-width: 992px) {
  .header {
    justify-content: space-between;
    padding: 30px;
    position: relative;
  }
  .header .menu {
    display: none;
  }
  .header .menu-open {
    display: block;
  }
  .header .menu-ctrl:checked ~ .menu {
    position: absolute;
    top: 84px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
  }
  .header .menu-ctrl:checked ~ .menu li {
    padding: 10px;
  }
  .header .menu-ctrl:checked ~ .menu a {
    font-size: 24px;
  }
  .header .menu-ctrl:checked + .menu-btn .menu-open {
    display: none;
  }
  .header .menu-ctrl:checked + .menu-btn .menu-close {
    display: block;
  }
  .header .logo {
    display: none;
  }
  .header .logo-m {
    display: block;
    width: 114px;
  }
}

.banner img {
  display: block;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .banner img {
    margin: 0 auto;
  }
}

.product {
  display: flex;
  gap: 20px;
}
.product .product-list {
  width: 33.8%;
  text-align: center;
}
.product .product-list h2 {
  color: #EAF0ED;
  background-color: #3F5D45;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
}
.product .product-list ul {
  border: 1px solid #EAF0ED;
}
.product .product-list li {
  border-bottom: 1px solid #EAF0ED;
}
.product .product-list li:hover {
  background-color: #EAF0ED;
}
.product .product-list a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
}
@media (max-width: 992px) {
  .product {
    flex-direction: column;
    padding: 0;
  }
  .product .product-list {
    width: 100%;
  }
}
.product .product-content {
  width: 70%;
}
.product .product-content .product-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product .product-content .name-box {
  display: flex;
  text-align: center;
  border: 1px solid #EAF0ED;
}
.product .product-content .name-box .product-name {
  width: 57.6%;
  font-size: 20px;
  font-weight: 300;
  border-right: 1px solid #EAF0ED;
  padding: 14px 0;
}
.product .product-content .name-box .product-price {
  width: 43.4%;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0;
}
.product .product-content .shoppingcart {
  font-size: 24px;
  font-weight: 600;
  background-color: #EAF0ED;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  border: 0;
  cursor: pointer;
}
.product .product-content .shoppingcart:active {
  background-color: #0C3A6E;
  color: #EAF0ED;
}
@media (max-width: 992px) {
  .product .product-content {
    width: 100%;
  }
  .product .product-content .product-box {
    justify-content: center;
  }
}
.product .paganation {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 60px;
}
.product .paganation a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
  border-left: 1px solid #EAF0ED;
  font-size: 20px;
  font-weight: 300;
}
.product .paganation a:hover {
  background-color: #3F5D45;
  color: #EAF0ED;
}
.product .paganation .page-next {
  border-right: 1px solid #EAF0ED;
}
@media (max-width: 992px) {
  .product .paganation {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.product-item {
  position: relative;
}
.product-item .today {
  font-weight: 600;
  color: #EAF0ED;
  background-color: #3F5D45;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  padding: 10px;
  position: absolute;
  left: 20px;
  z-index: 1;
}
.product-item .favorite-control {
  display: none;
}
.product-item .favorite-control:checked + .favorite-btn .like {
  display: block;
}
.product-item .favorite-control:checked + .favorite-btn .unlike {
  display: none;
}
.product-item .favorite-btn {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 20px;
  cursor: pointer;
}
.product-item .favorite-btn .like {
  display: none;
}
.product-item img {
  display: block;
}

.footer {
  margin: 0 auto;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C4832;
  line-height: 40px;
  padding: 30px 12%;
}
.subscribe .subscribe-mail {
  display: flex;
  justify-content: center;
}
.subscribe .subscribe-mail p {
  background-color: #FFFFFF;
  padding: 16px 20px;
}
.subscribe .subscribe-mail img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.subscribe .subscribe-mail h2 {
  color: #EAF0ED;
  font-size: 24px;
  margin-right: 124px;
}
.subscribe .subscribe-mail .email {
  border: none;
  width: 55%;
  padding: 14.5px 0;
  font-size: 20px;
}
.subscribe .subscribe-mail label {
  background-color: #FFE180;
  padding: 16px 24px;
  cursor: pointer;
}
.subscribe .subscribe-mail label:active {
  background-color: #0C3A6E;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .subscribe {
    flex-direction: column;
    padding: 30px;
  }
  .subscribe .subscribe-mail h2 {
    margin: 0;
    margin-bottom: 33px;
  }
}
.information {
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  background-color: #EAF0ED;
}
.information .contact .logo {
  max-width: 171.22px;
  display: block;
  margin: 38.9px 0 115.5px 0;
}
.information .contact p {
  line-height: 1.5;
}
.information .contact img {
  max-width: 32px;
  margin: 30px 8px 30px 0;
}
.information .copyright .slogan {
  font-size: 24px;
  font-weight: 600;
  writing-mode: vertical-rl;
  letter-spacing: 6.4px;
  line-height: 1.5;
  margin-top: 30px;
  margin-left: 220px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .information {
    flex-direction: column;
    padding: 0 30px 30px 30px;
  }
  .information .contact .logo {
    margin: 40px 0;
  }
  .copyright .slogan {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */