@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::after {
  box-sizing: border-box;
  color: #3F4D45;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

image {
  max-width: 100%;
  height: auto;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 42px;
}
.header .logo {
  width: 171px;
}
.header .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 60px;
}
.header .menu a {
  font-weight: 600;
}
.header .menu a:hover {
  text-decoration: underline;
}
.header .menu img {
  display: block;
}

.banner img {
  display: block;
  margin: 0 42px 60px 42px;
}

.product {
  display: flex;
  gap: 20px;
  padding: 0 42px;
}
.product .product-list {
  width: 31.8%;
  text-align: center;
}
.product .product-list h2 {
  color: #EAF0ED;
  background-color: #3F5D45;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
}
.product .product-list li {
  padding: 16px 0;
}
.product .product-list li:hover {
  background-color: #EAF0ED;
}
.product .product-list a {
  font-size: 24px;
  font-weight: 600;
}
.product .product-content {
  width: 68.2%;
}
.product .product-content .product-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product .product-content .name-box {
  display: flex;
  text-align: center;
  border: 1px solid #EAF0ED;
}
.product .product-content .name-box .product-name {
  width: 57.6%;
  font-size: 20px;
  font-weight: 300;
  border-right: 1px solid #EAF0ED;
  padding: 14px 0;
}
.product .product-content .name-box .product-price {
  width: 43.4%;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0;
}
.product .product-content .shoppingcart {
  font-size: 24px;
  font-weight: 600;
  background-color: #EAF0ED;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
}
.product .product-content .shoppingcart:active {
  background-color: #0C3A6E;
  color: #EAF0ED;
}
.product .paganation {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 60px;
}
.product .paganation a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
  font-size: 20px;
  font-weight: 300;
}
.product .paganation a:hover {
  background-color: #3F5D45;
  color: #EAF0ED;
}

.product-item {
  position: relative;
}
.product-item .today {
  font-weight: 600;
  color: #EAF0ED;
  background-color: #3F5D45;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  padding: 10px;
  position: absolute;
  left: 20px;
  z-index: 1;
}
.product-item .favorite-control {
  display: none;
}
.product-item .favorite-control:checked + .favorite-btn .like {
  display: block;
}
.product-item .favorite-control:checked + .favorite-btn .unlike {
  display: none;
}
.product-item .favorite-btn {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 20px;
  cursor: pointer;
}
.product-item .favorite-btn .like {
  display: none;
}
.product-item img {
  display: block;
}

.subscribe {
  display: flex;
  align-items: center;
  background-color: #2C4832;
  line-height: 40px;
  padding: 30px 12%;
}
.subscribe p {
  background-color: #FFFFFF;
  padding: 16px 20px;
}
.subscribe img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.subscribe h2 {
  color: #EAF0ED;
  font-size: 24px;
  margin-right: 124px;
}
.subscribe .email {
  border: none;
  width: 23.8%;
  padding: 14.5px 0;
  font-size: 20px;
}
.subscribe label {
  background-color: #FFE180;
  padding: 16px 24px;
  cursor: pointer;
}
.subscribe label:active {
  background-color: #0C3A6E;
  color: #FFFFFF;
}

.information {
  display: flex;
  justify-content: space-around;
  background-color: #EAF0ED;
}
.information .contact .logo {
  max-width: 171.22px;
  display: block;
  margin: 38.9px 0 115.5px 0;
}
.information .contact p {
  line-height: 1.5;
}
.information .contact img {
  max-width: 32px;
  margin: 30px 8px 30px 0;
}
.information .copyright .slogan {
  max-width: 59.28px;
  margin: 30px 0 45px 220px;
}/*# sourceMappingURL=all.css.map */