@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary:#650300;
  --color-secondary:#AA0601;
  --color-thirdly:#FBF2F2;
  --color-black:#000000;
  --color-black-10:#00000029;
  --color-black-20:#DEE2E6;
  --color-black-30:#707070;
  --color-white:#FFFFFF;
}

:root {
  --text-xs:14px;
  --text-s:16px;
  --text-m:20px;
  --text-l:24px;
  --text-xl:36px;
  --text-xxl:48px;
  --text-xxxl:64px;
}

:root {
  --weight-regular:400;
  --weight-md:500;
  --weight-sb:600;
  --weight-b:700;
}

:root {
  --lh-xs:1.3125;
  --lh-s:1.5;
  --lh-m:1.875;
  --lh-lg:2.25;
  --lh-xl:3.375;
  --lh-xxl:4.5;
  --lh-xxxl:6;
}

*, *::after, *::before {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.img, .block {
  display: block;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.container-m {
  width: 33.42%;
  margin: 0 auto;
}

.title {
  font-size: var(--text-xxl);
  font-weight: var(--weight-b);
  text-align: center;
}

.col-1 {
  width: 8.3333%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-2 {
  width: 16.6667%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-3 {
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-4 {
  width: 33.3333%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-5 {
  width: 41.66667%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-6 {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
}

.col7 {
  width: 58.3333%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-8 {
  width: 66.66667%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-9 {
  width: 75%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-10 {
  width: 83.3333%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-11 {
  width: 91.66667%;
  padding-right: 12px;
  padding-left: 12px;
}

.col-12 {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.minus-my-12 {
  margin-right: -12px;
  margin-left: -12px;
}

.color-sec {
  color: var(--color-secondary);
}

.color-white {
  color: var(--color-white);
}

.text-ar {
  text-align: right;
}

.text-ac {
  text-align: center;
}

.text-al {
  -moz-text-align-last: left;
       text-align-last: left;
}

.d-flex {
  display: flex;
}

.flex-d-col {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcfe {
  justify-content: flex-end;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.pxy-16 {
  padding: 16px;
}

.px-6 {
  padding-right: 6px;
  padding-left: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-48 {
  padding-top: 48px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

.mb-10 {
  margin-bottom: 10px;
}

.my-auto {
  margin: 0 auto;
}

.mw-36 {
  max-width: 36px;
}

.mw-48 {
  max-width: 48px;
}

.mw-80 {
  max-width: 80px;
}

.mw-100 {
  max-width: 100px;
}

.h-205 {
  height: 205px;
}

.btn {
  padding: 16px 176px;
}

.btn-sm {
  padding: 6px 12px;
}

.header {
  background-color: var(--color-secondary);
}
.header .logo {
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.header .menu-list {
  color: var(--color-white);
  font-size: var(--text-m);
}
.header .menu-list:hover {
  border-bottom: 3px solid var(--color-white);
}

@media (max-width: 768px) {
  .header {
    padding: 0 36px;
  }
}
.footer {
  background-color: var(--color-secondary);
}
.footer .footer-menu {
  color: var(--color-white);
}
.footer .footer-menu:hover {
  border-bottom: 3px solid var(--color-white);
}
.footer .contact-box {
  border-bottom: 1px solid var(--color-white);
}
.footer .contact-box .contact-information {
  font-size: var(--text-xl);
  color: var(--color-white);
  font-weight: var(--weight-regular);
}
.footer .copyright {
  color: var(--color-white);
}

@media (max-width: 768px) {
  .footer {
    padding: 0 36px;
  }
}
.home-banner {
  background-image: url("/assets/images/home-header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-banner .home-banner-box {
  height: 787px;
}
.home-banner .home-banner-box .sec-slogan {
  font-size: var(--text-xl);
}
.home-banner .home-banner-box .slogan {
  font-size: var(--text-xxxl);
  font-weight: var(--weight-b);
}
.home-banner .home-banner-box .buy {
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-size: var(--text-m);
}

.home-promote {
  background-color: var(--color-thirdly);
}
.home-promote .promote-card h3 {
  font-size: var(--text-l);
  font-weight: var(--weight-b);
}
.home-promote .promote-card p {
  color: var(--color-black);
  font-size: var(--text-s);
}

.home-design {
  background-image: url("/assets/images/index-bg.png");
}
.home-design .design-item {
  background-color: var(--color-white);
}

.recommend-card {
  border-radius: 4px;
  border: 1px solid var(--color-black-20);
  box-shadow: 0 2px 6px var(--color-black-10);
  --color-primary:var(--color-black);
}
.recommend-card .home-card-date {
  color: var(--color-black-30);
}

.home-feedback {
  background-color: var(--color-thirdly);
}
.home-feedback .table-box {
  --color-primary:var(--color-black);
}
.home-feedback .table-box .input {
  width: 100%;
}
.home-feedback .submit {
  font-size: var(text-s);
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 0;
  cursor: pointer;
}
.home-feedback .submit:hover {
  background-color: var(--color-primary);
}/*# sourceMappingURL=all.css.map */